<!DOCTYPE html>
<html lang="pt-br">

<head>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&display=swap"
    rel="stylesheet">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {% load static %}
  <link rel="stylesheet" href="{% static 'destinations/css/style-main.css' %}">
  <link rel="stylesheet" href="{% static 'destinations/css/style-main-conteiners.css' %}">
  <link rel="stylesheet" href="{% static 'destinations/css/style-forms.css' %}">
  <title>SIDPE - Sistema Integrado da Divisão de Pré-Embalados</title>
</head>
<body>

  <div class="grid-container">

    <header class="grid-header">
      <div class="div-flex-row">
        {% load static %}
        <img class="logo" src="{% static 'destinations/img/logo_inmeq_inmetro.png' %}">
        <div class="div-flex-row">SIDPE - Sistema Integrado da Divisão de Pré-Embalados</div>
      </div>
    </header>
