{% include "destinations/partials/head-alt.html" %}

<main class="grid-main">

  <div class="div-form">

    <div class="div-form-tit">
      ENTIDADES
    </div>

    <div class="div-form-content" style="border-bottom: 0.1rem inset gray; padding-bottom: 2rem;">
      <label for="entidade">
        ENTIDADES CADASTRADAS:
      </label>
      <select name="entidade" id="entidade">
        <option value=""> - - - - Selecione uma entidade - - - - </option>
        <option value="">Entidade 1</option>
        <option value="">Entidade 2</option>
        <option value="">Entidade 3</option>
      </select>
    </div>

    <div class="div-form-content">
      <label for="cnpj">
        CNPJ:
      </label>
      <input type="text" name="cnpj" id="cnpj">

      <label for="rs">
        RAZÃO SOCIAL:
      </label>
      <input type="text" name="rs" id="rs">

      <label for="nf">
        NOME FANTASIA:
      </label>
      <input type="text" name="nf" id="nf">
    </div>
    <div class="div-form-footer">
      Conteúdo do footer
    </div>
  </div>

</main>

<footer class="grid-footer">
  <div>
    Powered by Adeilton Malafaia dos Santos
  </div>
</footer>

</div>


</body>

</html>