{% extends "destinations/global_templates/destinations-global.html" %}

  {% block content %}
  <form action="" method="POST" autocomplete="off">
    {% csrf_token %}
    <div class="div-form">
      <div class="div-form-tit">
        ENTIDADES
      </div>
      <div class="div-form-content">
      {% for field in form %}
        <div>
          <label for="{{ field.id_for_label }}">{{ field.label }}</label>
          {{ field }}
          {% if field.help_text %}
            <p class="help_text">
              {{ field.help_text }}
            </p>
            {{ field.errors}}
          {% endif %}
        </div>
      {% endfor %}
      </div>
      <div class="div-form-footer">
        <button type="submit">Salvar</button>&nbsp;&nbsp;
        <button type="button">Cancelar</button>
      </div>
    </div>
  </form>
  {% endblock content %}
