{% load static %}
<!DOCTYPE html>
<html lang="pt-br">

<head>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
  <link rel="stylesheet" href="{% static 'destinations/css/style-main.css' %}">
  <link rel="stylesheet" href="{% static 'destinations/css/style-menus.css' %}">
  <link rel="stylesheet" href="{% static 'destinations/css/style-conteiners.css' %}">
  <link rel="stylesheet" href="{% static 'destinations/css/style-forms.css' %}">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&display=swap"
    rel="stylesheet">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>SIDPE - Sistema Integrado da Divisão de Pré-Embalados</title>
</head>

<body>

  <div class="grid-container">

    <header class="grid-header">
      <img class="logo" src="{% static 'destinations/img/logo_inmeq_inmetro.png' %}">
      <div class="container-header">SIDPE - Sistema Integrado da Divisão de Pré-Embalados</div>
    </header>

    <nav class="grid-nav" id="itens">
      <div id="metas" class="item-menu">METAS</div>
      <div id="dir" class="item-menu">DOAÇÃO/INUTILIZAÇÃO/RETIRADA</div>
      <div id="simulacoes" class="item-menu">SIMULAÇÕES</div>
      <div id="sair" class="item-menu">SAIR</div>
    </nav>

    <section class="grid-section" id="subitens">
      <div class="item-submenu" id="rdir">REGISTRAR DESTINO DE PRODUTOS</div>
      <div class="item-submenu" id="cnt">REGISTRAR DOAÇÃO</div>
      <div class="item-submenu" id="cnt">CADASTRO DE ENTIDADES</div>
      <div class="item-submenu" id="gpl">GERAR PLANILHA SGI</div>
      <div class="item-submenu" id="cnc">CANCELAR</div>
    </section>

    <main class="grid-main">

      <h2>GERAR PLANILHA (SGI)</h2>

      <div>
        <form autocomplete="off">

          <div class="div-output-block">

            <div style="display: flex; padding-bottom: 2rem;">
              <span>Período:&nbsp;&nbsp;&nbsp;&nbsp;</span>
              <input type="date" id="data1" style="width: 10rem;">&nbsp;&nbsp;&nbsp;&nbsp;
              <label for="data1">até:&nbsp;</label>
              <input type="date" id="data2" style="width: 10rem;">
            </div>

            <div style="display: flex; justify-content: center;">
              <button type="button" id="gerar" disabled>Gerar Planilha</button>&nbsp;&nbsp;&nbsp;&nbsp;
              <button type="button" id="cancelar">Cancelar</button>
            </div>
          </div>

        </form>
      </div>

    </main>

  </div>
</body>

</html>
<script>

  $(document).ready(function () {

    $("#dir").click(function () {

      $("#subitens").slideDown("slow");

    });

  })

</script>