{% extends "destinations/global_templates/destinations-global.html" %}

{% block content %}

{% if messages %}
{% for msg in messages %}
<div class="message {{ msg.tags }}" style='width: 63rem; margin: 2rem auto'>
  {{msg}}
</div>
{% endfor %}
{% endif %}

<div class="div-form">
  <form action="" method='POST' enctype="multipart/form-data">
  {% csrf_token %}
    <div class="div-form-tit">
      CARREGAR CRONOGRAMA DE PERÍCIAS
    </div>
    <div class="div-form-content">
      {{ form.crono }}
      {{ form.option }}
      &nbsp;&nbsp;
      <button type="submit">Carregar PDF</button>
    </div>
    {% if print_data %}
    <div class="div-form-tit">
      LANÇAMENTOS
    </div>
    <div class="div-form-content">



      <div class="grid-saidas">
        <div>Data</div>
        <div>TC</div>
        <div>Produto</div>
        <div>Marca</div>
        <div>Cont. Nom.</div>
        <div>Quant.</div>
        <div>Tipo saída</div>
      </div>


      
    </div>
    <div class="div-form-cont">
      {% for dt in data %}
      
      {% endfor %}
    </div>
    {% endif %}
  </form>
</div>
  
{% endblock content %}}