{% extends "destinations/global_templates/destinations-global.html" %}

{% block content %}

{% if messages %}
{% for msg in messages %}
<div class="message {{ msg.tags }}" style='width: 63rem; margin: 2rem auto'>
  {{msg}}
</div>
{% endfor %}
{% endif %}

<div class="div-form">
  <form action="" method='POST' enctype="multipart/form-data">
  {% csrf_token %}
    <div class="div-form-tit">
      CARREGAR CRONOGRAMA DE PERÍCIAS
    </div>
    <div class="div-form-content">
      {{ form.crono }}
      {{ form.option }}
    </div>
    <div class="div-form-footer">
      <button type="submit">Carregar PDF</button>
    </div>
  </form>
</div>
  
{% endblock content %}}