{% include "destinations/partials/head.html" %}
<main class="grid-main">

  <div class="div-form" style="width: 90rem;">
    <form autocomplete="off">
      <div class="div-form-tit">
        REGISTRO DE SAÍDAS DIÁRIAS
      </div>
      <div class="div-form-content" style="border-bottom: 0.3rem inset gray;">
        <input type="file" name="file" accept="application/pdf" id="file">&nbsp;
        <div class="div-flex-row">
          <button type="button" id="cancelar">Cancelar</button>&nbsp;
          <button type="button" id="salvar" disabled>Salvar</button>
        </div>
      </div>
      <div class="div-form-content">
        <div class="grid-saidas" style="width: 85rem;">
          <div>DATA</div>
          <div>TC</div>
          <div>DESTINO</div>
          <div>PRODUTO</div>
          <div>MARCA</div>
          <div>QN</div>
          <div>QUANT</div>
        </div>
        <div class="grid-saidas" style="width: 85rem; overflow: auto;">
          <div>
            <input type="date" name="data[]" id="data[]" size="8rem" value="">
          </div>
          <div>
            <input type="text" name="tc[]" id="tc[]" size="6rem" style="width: 5.7rem;" value="">
          </div>
          <div>
            <select name="destino[]" id="destino[]" style="width: 9rem;">
              <option value=""></option>
              <option value="d">Doação</option>
              <option value="i">Inutilização</option>
              <option value="r">Retirada</option>
            </select>
          </div>
          <div>
            <input type="text" name="produto[]" id="produto[]" style="width: 27rem" value="">
          </div>
          <div>
            <input type="text" name="marca[]" id="marca[]" size="12rem" value="">
          </div>
          <div>
            <input type="text" name="qn[]" id="qn[]" size="4rem" style="width: 4rem;" value="">
          </div>
          <div>
            <input type="text" name="quant[]" id="quant[]" size="2rem" value="">&nbsp;
            <button type="button" id="excluir[]" disabled
              style="display: flex; align-items: center; width: 5rem; height: 2rem;">
              <i class="fa-solid fa-trash-can"></i>
            </button>
          </div>
        </div>
      </div>
      <div class="div-form-footer">

      </div>
    </form>
  </div>

</main>
{% include "destinations/partials/footer.html" %}