{% extends "destinations/global_templates/destinations-global.html" %}
{% block content %}
<div class="div-form">
  <form autocomplete="off">
    <div class="div-form-tit">
      REGISTRO DE SAÍDAS DIÁRIAS
    </div>
    <div class="div-form-footer">
      <input type="file" name="file" accept="application/pdf" id="file">&nbsp;
      <div class="div-flex-row">
        <button type="button" id="carregar_dados" disabled>Carregar Dados</button>&nbsp;
        <button type="button" id="cancelar">Cancelar</button>&nbsp;
      </div>
    </div>
    <div class="div-form-content" style="overflow-y: unset">
      <div class="grid-saidas">
        <div>DATA</div>
        <div>TC</div>
        <div>DESTINO</div>
        <div>PRODUTO</div>
        <div>MARCA</div>
        <div>QN</div>
        <div>QUANT</div>
      </div>
      <div class="grid-saidas" style="overflow-y: auto;">

        {% for saida in saidas %}
        <div>
          <input type="date" name="data[]" id="data[]" style="width: 9.4rem" value="{{saida.data}}">
        </div>
        <div>
          <input type="text" name="tc[]" id="tc[]" style="width: 5.2rem;" value="{{saida.tc}}">
        </div>
        <div>
          <select name="destino[]" id="destino[]" style="width: 9rem;">
            <option value=""></option>
            {% if saida.destino == 'd' %}
            <option value="d" selected>Doação</option>
            {% else %}
            <option value="d">Doação</option>
            {% endif %}
            {% if saida.destino == 'i' %}
            <option value="i" selected>Inutilização</option>
            {% else %}
            <option value="i">Inutilização</option>
            {% endif %}
            {% if saida.destino == 'r'%}
            <option value="r" selected>Retirada</option>
            {% else %}
            <option value="r">Retirada</option>
            {% endif %}
          </select>
        </div>
        <div>
          <input type="text" name="produto[]" id="produto[]" style="width: 27.2rem" value="{{saida.produto}}">
        </div>
        <div>
          <input type="text" name="marca[]" id="marca[]" size="12rem" value="{{saida.marca}}">
        </div>
        <div>
          <input type="text" name="qn[]" id="qn[]" size="4rem" style="width: 4rem;" value="{{saida.qn}}">
        </div>
        <div>
          <input type="text" name="quant[]" id="quant[]" size="2rem" value="{{saida.quant}}">&nbsp;
          <button type="button" id="excluir[]" disabled
            style="display: flex; align-items: center; width: 5rem; height: 2rem;">
            <i class="fa-solid fa-trash-can"></i>
          </button>
        </div>

        {% endfor %}

      </div>
    </div>
    <div class="div-form-footer">
      &nbsp;
    </div>
    <input type="hidden" name="option" id="option" value="">
  </form>
</div>
{% endblock content %}