{% load static %}
<!DOCTYPE html>
<html lang="pt-br">

<head>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
  <link rel="stylesheet" href="{% static 'destinations/css/style-main.css' %}">
  <link rel="stylesheet" href="{% static 'destinations/css/style-menus.css' %}">
  <link rel="stylesheet" href="{% static 'destinations/css/style-conteiners.css' %}">
  <link rel="stylesheet" href="{% static 'destinations/css/style-forms.css' %}">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&display=swap"
    rel="stylesheet">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>SIDPE - Sistema Integrado da Divisão de Pré-Embalados</title>
</head>

<body>

  <div class="grid-container">

    <header class="grid-header">
      <img class="logo" src="{% static 'destinations/img/logo_inmeq_inmetro.png' %}">
      <div class="container-header">SIDPE - Sistema Integrado da Divisão de Pré-Embalados</div>
    </header>

    <nav class="grid-nav" id="itens">
      <div id="metas" class="item-menu">METAS</div>
      <div id="dir" class="item-menu">DOAÇÃO/INUTILIZAÇÃO/RETIRADA</div>
      <div id="simulacoes" class="item-menu">SIMULAÇÕES</div>
      <div id="sair" class="item-menu">SAIR</div>
    </nav>

    <section class="grid-section" id="subitens">
      <div class="item-submenu" id="rdir">REGISTRAR DESTINO DE PRODUTOS</div>
      <div class="item-submenu" id="cnt">REGISTRAR DOAÇÃO</div>
      <div class="item-submenu" id="cnt">CADASTRO DE ENTIDADES</div>
      <div class="item-submenu" id="gpl">GERAR PLANILHA SGI</div>
      <div class="item-submenu" id="cnc">CANCELAR</div>
    </section>

    <main class="grid-main">

      <h2>REGISTRAR DOAÇÕES/INUTILIZAÇÕES/RETIRADAS</h2>

      <div>
        <form autocomplete="off">

          <div style="width: 76.5rem; display: flex; justify-content: center">
            <input type="file" name="file" id="file">&nbsp;
            <button type="button" id="cancelar">Cancelar</button>&nbsp;
            <button type="button" id="salvar" disabled>Salvar</button>
          </div>

          <div id="lancamentos" style="display: flex">
            <table>
              <tr>
                <th>Data</th>
                <th>TC</th>
                <th>Destino</th>
                <th>Produto</th>
                <th>Marca</th>
                <th>Qn</th>
                <th>Quant</th>
                <th>&nbsp;</th>
              </tr>
              <tr>
                <td>
                  <input type="date" name="data[]" id="data[]" size="8rem" value="">
                </td>
                <td>
                  <input type="text" name="tc[]" id="tc[]" size="6rem" value="">
                </td>
                <td>
                  <select name="destino[]" id="destino[]">
                    <option value=""></option>
                    <option value="d">Doação</option>
                    <option value="i">Inutilização</option>
                    <option value="r">Retirada</option>
                  </select>
                </td>
                <td>
                  <input type="text" name="produto[]" id="produto[]" size="35rem" value="">
                </td>
                <td>
                  <input type="text" name="marca[]" id="marca[]" size="12rem" value="">
                </td>
                <td>
                  <input type="text" name="qn[]" id="qn[]" size="4rem" value="">
                </td>
                <td>
                  <input type="text" name="quant[]" id="quant[]" size="2rem" value="">&nbsp;
                </td>
                <td>
                  <button type="button" id="excluir[]" disabled style="display: flex; align-items: center;"><img
                      src="img/trash01.png" style="height: 1.5rem;" alt=""></button>
                </td>
              </tr>
            </table>
          </div>
        </form>
      </div>

    </main>

  </div>
</body>

</html>
<script>

  $(document).ready(function () {

    $("#dir").click(function () {

      $("#subitens").slideDown("slow");

    });

  })

</script>