/********** Estilos para grid da página **********/
.grid-container{
  display: grid;
  grid-template-areas:
  "hd"
  "mn"
  "ft"
  ;
  grid-template-columns: 100%;

  grid-template-rows: 10vh 85vh 5vh;
}

.grid-header{
  background-color: #17123b;
  color: white;
  border-style: none;
  font-size: 1.8rem;
  display: flex;
  flex-direction: column;
  grid-area: hd;
  align-items: center;
  justify-content: center;
  /* padding: 1rem; */
}

.grid-main{
  grid-area: mn;
  background-color: rgba(0,0,0,0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  padding-top: 3rem;
  font-size: 1rem;
  overflow-x: auto;
  overflow-y: auto;
}

.grid-footer{
  background-color: #17123b;
  color: white;
  display: flex;
  align-items: center;
  padding: 0 2rem;
}

/*********** Estilos para divs genéicos ***********/
.div-flex-row{
  flex-direction: row;
}

.div-flex-col{
  flex-direction: column;
}

.div-flex-row, .div-flex-col{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 1rem;
}

.div-col-align-left{
  display: flex;
  flex-direction: column;
  justify-content: left;
}

.logo{
  border-radius: 1rem;
  height: 4.5rem;
}

/*********** Estilos para contêineres de forms ***********/

.div-form{
  box-shadow: 0.5rem 1rem 1.8rem #888888;
  width: 52rem;
}

.div-form-tit{
  background-color: black;
  color: white;
  font-size: 1.2rem;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.div-form-content{
  background-color: white;
  display: flex;
  flex-direction: column;
}

.div-form-footer{
  background-color: rgb(63, 62, 62);
  color: white;
  font-weight: bold;
  display: flex;
  padding: 1rem;
}

.div-form-tit, .div-form-content{
  padding: 0.8rem;
}

/*********** Estilos para o contêiner de saídas diárias ***********/
.grid-saidas{
  display: grid;
  grid-template-columns: 10rem 7.5rem 9.5rem 29rem 12rem 6rem 10rem;
}

.grid-saidas > div{
  display: flex;
}

.grid-sadas > div > input[type='text']{
  width: 100%;
}

/*********** Estilos para tabelas ***********/
table{
  border-collapse: collapse;
}