/********** Estilos para grid da página **********/
.grid-container{
  display: grid;
  grid-template-areas:
  "hd"
  "mn"
  "ft"
  ;
  grid-template-columns: 100%;

  grid-template-rows: 10vh 85vh 5vh;
}

.grid-header{
  background-color: #17123b;
  color: white;
  border-style: none;
  font-size: 1.8rem;
  display: flex;
  flex-direction: column;
  grid-area: hd;
  align-items: center;
  justify-content: center;
  /* padding: 1rem; */
}

.grid-main{
  grid-area: mn;
  background-color: rgba(0,0,0,0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  padding-top: 3rem;
  font-size: 1rem;
  overflow-x: auto;
  overflow-y: auto;
}

.grid-footer{
  background-color: #17123b;
  color: white;
  display: flex;
  align-items: center;
  padding: 0 2rem;
}

/*********** Estilos para divs genéricos ***********/
.div-row-center{
  justify-content: center;
  align-items: center;
}

.div-row-left{
  justify-content: left;
}

.div-col-center{
  justify-content: center;
  flex-direction: column;
}

.div-col-left{
  justify-content: left;
  flex-direction: column;
}

.div-row-center, .div-row-left, .div-col-center, .div-col-left{
  display: flex;
}

/*********** Estilos para o contêiner de saídas diárias ***********/
.grid-saidas{
  display: grid;
  grid-template-columns: 5% 5% 37.5% 37.5% 5% 5% 5%;
  width: 45rem;
  /* max-height: 35rem; */
  height: fit-content;
}

.grid-saidas > div{
  display: flex;
  justify-content: left;
  padding: 0.2rem 0 0.2rem 0;
  margin-right: 1rem;
  box-sizing: border-box;
  transition: all 0.4s ease-in-out;
}

.grid-saidas > div > input[type='text']{
  width: 95%;
}

/*********** Estilos para tabelas ***********/
table{
  border-collapse: collapse;
}

/*********** Estilos para formatação de texto ***********/
.uppercase{
  text-transform: uppercase;
}

/*********** Estilos para flash messages ***********/
.message {
  padding: 1rem;
  width: 100%;
  border-radius: 4px;
  border: 1px solid var(--color-dark-text);
  background: var(--color-gray-2);
  color: var(--color-dark-text);
  margin-bottom: 2rem;
}

.message-error {
  border: 1px solid var(--color-error-dark);
  background: var(--color-error-light);
  color: var(--color-error-dark);
}

.message-sucess {
  border: 1px solid var(--color-success-dark);
  background: var(--color-success-light);
  color: var(--color-success-dark);
}

.message-warning {
  border: 1px solid var(--color-warning-dark);
  background: var(--color-warning-light);
  color: var(--color-warning-dark);
}

.message-debug {
  border: 1px solid var(--color-debug-dark);
  background: var(--color-debug-light);
  color: var(--color-debug-dark);
}

.message-info {
  border: 1px solid var(--color-info-dark);
  background: var(--color-info-light);
  color: var(--color-info-dark);
}
