/* Estilos para formulários */
form{
  margin-top: 1rem;
}

fieldset{
  padding: 1rem;
  border-radius: 0.4rem;
}

legend{
  font-size: 1.2rem;
}

input[type="text"]{
  text-transform: none;
}

input[type="file"]{
  height: 2rem;
  width: 25rem;
  font-size: 1rem;
}

label{
  margin: 0rem 0rem 0.3rem 0;
}

button{
  background-color: #4d429e;
  color: white;
  font-size: 1rem;
  padding: 0.2rem 1rem;
  border-radius: 0.4rem;
}

input[type="date"], input[type="file"], select{
  font-size: 1rem;
}

input[type="text"], input[type="date"], select, input[type="radio"]{
  height: 1.2rem;
  border-style: none;
  background-color: lightblue;
}

select{
  height: 1.7rem;
  border-radius: 0.4rem;
}

option{
  font-size: 1rem;
  font-weight: bold;
  background-color: lightblue;
}

input[type="text"], .button-file{
  border-radius: 0.4rem;
  height: 1rem;
  font-size: 1rem;
  padding: 0.30rem 0.4rem;
}

.file-text{
  color: rgb(83, 83, 83)
}

.button-file{
  background-color: #e7e7e7;
  border: 1px solid #ccc;
  cursor: pointer;
  font-size: 1rem;
}

input{
  background-color: rgb(193, 203, 245);
}